*{
box-sizing:border-box;
font-family:Arial;
}


body{

margin:0;

height:100vh;

background:#050505;

color:white;

}



.app{

display:flex;

height:100vh;

}





.sidebar{

width:260px;

background:#111;

padding:20px;

transition:.3s;

border-right:1px solid #333;

}




.brand h1{

color:#00ff88;

}




.sidebar button{

width:100%;

margin:5px 0;

padding:12px;

background:#222;

color:white;

border:0;

border-radius:10px;

cursor:pointer;

}




.sidebar button:hover{

background:#00ff88;

color:black;

}




.main{

flex:1;

display:flex;

flex-direction:column;

}




.header{

padding:15px;

display:flex;

justify-content:space-between;

background:#111;

}




#chatBox{

flex:1;

overflow-y:auto;

padding:20px;

}




.message{

display:flex;

gap:10px;

margin-bottom:15px;

}




.content{

padding:12px;

background:#222;

border-radius:12px;

max-width:80%;

}




.user{

justify-content:flex-end;

}




.user .content{

background:#005c3b;

}




.input-area{

display:flex;

gap:10px;

padding:15px;

background:#111;

}




textarea{

flex:1;

background:#222;

color:white;

border:0;

border-radius:10px;

padding:12px;

}




.send{

background:#00ff88;

border:0;

padding:10px;

border-radius:10px;

}





.settings{

display:none;

position:fixed;

right:20px;

top:80px;

background:#111;

padding:20px;

border-radius:15px;

}



.settings input,
.settings select{

width:100%;

padding:10px;

margin:10px 0;

background:#222;

color:white;

}





/* LIGHT MODE */


body.light{

background:white;

color:black;

}


body.light .sidebar,
body.light .header,
body.light .input-area,
body.light .settings{

background:#eee;

}


body.light .content{

background:#ddd;

color:black;

}




/* MOBILE SIDEBAR */


@media(max-width:700px){


.sidebar{

position:fixed;

left:0;

top:0;

height:100%;

z-index:100;

transform:translateX(-100%);

}


.sidebar.active{

transform:translateX(0);

}


.content{

max-width:90%;

}


}
